body{	
	font-family: 'Roboto', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;		
}

/*Side menu*/
.sidebar{
	position: absolute;
	float: left;
	width: 20%;
	height: 100%;
	background: #C8E0FF;
	z-index: 950;
	overflow: hidden;
}

.sidebar header{	
	text-align: center;
	user-select: none;
	margin-top: 10%;
	padding-right: 25%;
}

.sidebar ul a{
	display: block;
	height: 100%;	
	line-height: 4.5vw;
	font-size: 20px;
	color: #5F6392;
	padding-left: 40px;	
	text-decoration: none;
}

ul li:hover a{
	padding-left: 50px;
	background: #7278B9;
	color: #CCA679;
	text-decoration: none;
	transition: 0.3s;
}

#logout{
	margin-top: 15%;
	color: #CCA679;
}

#logout:hover{
	color: maroon;
	background: none;
}

.sidebar ul a i{
	margin-right: 16px;
}


/* Login Page */
.loginpage{
	background-color: #C8E0FF;
	margin-top: 5%;
}

.loginpage .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

	
/* FORM TYPOGRAPHY*/

.loginpage input[type=button], .loginpage input[type=submit], .loginpage input[type=reset]  {
  background-color: #7278B9;
  border: none;
  color: white;
  padding: 3.5% 12.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1vw;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.loginpage input[type=button]:hover, .loginpage input[type=submit]:hover, .loginpage input[type=reset]:hover  {
  background-color: #CCA679;
  cursor: pointer;
}

.loginpage input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.loginpage input[type=text], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2%;
  width: 80%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
	
.loginpage input[type=checkbox]{
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 1vw 2vw;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 21%;
}

.loginpage input[type=text]:focus, input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

.loginpage input[type=text]:placeholder, input[type=password]:placeholder {
  color: #cccccc;
}


/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation 
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

*/

/* Simple CSS3 Fade-in Animation 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

*/

/* Simple CSS3 Fade-in Animation 
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

*/

/* OTHERS */

*:focus {
    outline: none;
} 

.loginpage #icon {
	margin-top: 10%;
	width:40%;
}

/* Add residents page */


/* Add residents & Create admin button */
#add-residents, #create-admin{
	display: inline;
	position: fixed;	
	background-color: #C8E0FF;
	color: #5F6392;	
	border-radius: 5px;
	padding: 1% 2%;
	text-decoration: none;
	font-size: 1.2vw;
	top: 13%;
}

#add-residents:hover, #create-admin:hover{
	background: #7278B9;
	color: #CCA679;
	transition: 0.5s;
}

#add-residents{
	left: 22%;
}

#create-admin{
	left: 36%;
}

/* Resident List , Payment Log, Visitor Log*/
#resident-list, #payment-log, #visitor-log{
	position: absolute;
	width: 75%;
	margin-top: 11%;
	left: 22%;
	right: 5%;
}


#bookings{
	position: absolute;
	width: 75%;
	margin-top: 10%;
	left: 22%;
	right: 5%;
	overflow: auto;
}

th{
	font-size: 1vw;
	background-color: #C8E0FF!important;
	font-family: "Nunito", sans-serif; 
}

td{
	font-size: 0.8vw;
	padding: 2%;
	border-bottom: 1px solid #7278B9!important;
}

td input, td button{
	border: none;
	border-radius: 5px;
	padding: 10%;
}

td input{
	background-color: #28a745;
	color: white;
	cursor: pointer;
}

td button{
	background-color: #dc3545;
	color: white;
	cursor: pointer;
}

/* Data Tables */
.dataTables_paginate {
	position: fixed;
	left: 75%;
	margin-top: 3%;
	
}


.dataTables_filter{
	position: absolute;
	left: 75%;
	margin-top: 7%;
}

.dataTables_length{
	display: none;
}

.dt-body-nowrap {
   white-space: nowrap;
}

/* Update bill */
#update-bill-table{
	position: absolute;
	width: 70%;
	margin-top: 11%;
	left: 22%;
}

/*Content*/
.content{
	background: white;
	z-index: 900;		
	position: relative;	
}

.content h1{
	position: fixed;
	color: #CCA679;	
	top: 3%;
	left: 22%;
}

.content form{
	position: fixed;
	top: 23%;
	left: 21%;
	width: 70%;
}

#done-button{
	position: fixed;	
	background-color: #C8E0FF;
	color: #5F6392;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 1% 2%;
	left: 75%;
	top: 13%;
}

#done-button:hover{
	cursor: pointer;
}


/*Update bill page*/
.update-bill{
	background: white;
	z-index: 900;		
	position: relative;	
}

.update-bill h1{
	position: fixed;
	color: #CCA679;	
	top: 3%;
	left: 22%;
}

.update-bill form{
	position: fixed;
	top: 20%;
	left: 21%;
	width: 70%;
}

#update-button{
	position: fixed;	
	background-color: #C8E0FF;
	color: #5F6392;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 1% 2%;
	left: 75%;
	top: 20%;	
}

#update-button:hover{
	cursor: pointer;
}

#confirm-password{
	margin-bottom: 10%;
}

/* Create admin button */
.create-admin{
	background: white;
	z-index: 900;		
	position: relative;	
}

.create-admin h1{
	position: fixed;
	color: #CCA679;	
	top: 3%;
	left: 22%;
}

.create-admin form{
	position: fixed;
	top: 23%;
	left: 21%;
	width: 70%;
}

#create-button{
	position: fixed;	
	background-color: #C8E0FF;
	color: #5F6392;
	border: none;
	border-radius: 5px;
	padding: 1% 2%;
	font-weight: bold;
	left: 75%;
	top: 13%;	
	font-family: 'Nunito', sans-serif;
	font-size: 1.2vw;
}

#create-button:hover{
	cursor: pointer; 
}

#create-button:focus{
	cursor: pointer; 
}

/* form elements */

.gender{
	border: 1px solid #495057;
	border-radius: 3.5px;
	padding: 1.8% 0.8%;
	width: 20%;
	text-align: center;
	background: white;
	color: #495057;
}

.gender:hover{
	cursor: pointer;
	color: #495057;
}

.gender[name="male"]{
	margin-left: 2%;
}

/* Live Chat */
.user-list{
	width: 80%;
	margin-left: 20%;
	margin-right: auto;
}

#searchbar{
	color: #e3e3e3;
	margin: 1% 0 0 2%;
}

input[name="searchbar"]{
	padding: 0.3% 1.5%;
	margin: 1% 0 0 2%;
	border: 0.5px solid #e3e3e3;
	border-radius: 3%;
}

.container {
	background: #fff;
	padding: 0;
	border-radius: 44%;
}

.profile-image {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin-left: 2vw;
	float: left;
}

.time{
	float: right;
}

.friend-drawer{
	height: 11vh;
	margin-top: 1.2%;
}

.text{
	margin-left: 10%;
}

.text h6{
	margin: 0 auto;
	vertical-align: center;
}
    
.text p {
 	margin:  auto;
}

/*Announcement php */
.content img{
	position: fixed;
	top: 10%;
	left: 55%;
}

.content .announcement-sent{
	top: 25%;
	left: 45%;
	color: #5F6392;
}

.content .announcement-text{
	left: 40%;
	top: 35%;
	font-size: 1.8vw;
	color: maroon;
}

.content .redirect{
	left: 40%;
	top: 43%;
	font-size: 1.5vw;
	color: #CCA679;
}

/* Announcement */
#submit_btn{
	background-color: #7278B9;
	color: white;
}

#submit_btn:hover{
	background-color: #CCA679;
}

/* Update bill */
.content img{
	position: fixed;
	top: 10%;
	left: 55%;
}

.content .bill-updated{
	top: 25%;
	left: 45%;
	color: #5F6392;
}

.content .bill-updated-text{
	left: 40%;
	top: 35%;
	font-size: 1.8vw;
	color: maroon;
}	

/*admin only features*/
#create-admin{
	display:none;
}

.btn-primary{
	background-color: #C8E0FF !important;
	color: #5F6392 !important;
	border: none !important;
	border-radius: 5px !important;
	font-family: 'Nunito', sans-serif !important;
	font-size: 1.2vw !important;
}







